@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="padding: 85px 0 0;">
    <h1 class="display-4 text-center">Welcome to our Vowel game!</h1>

    <p class="text-left" style="margin: 80px auto; width: 70%;">
        Test your knowledge of the <mark>International Phonetic Alphabet (<abbr title="International Phonetic Alphabet">IPA</abbr>)</mark> by identifying vowel sounds. Listen carefully, choose the correct symbol, and improve your phonetic skills!
        <br/>
        Press Play to start the quiz and challenge yourself with different vowel sounds.
    </p>
</div>
